*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
h1{
    text-align: center;
    color: white;
    margin: 100px auto 50px;
}
.form{
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.189);
    -webkit-backdrop-filter: blur(10px);
}
.search-box{
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    flex: 1;
    font-size: 1rem;
    padding:  0 20px;
    color: white;
    width: 80%;

}
.search-box::placeholder{
    color: white;
}
.search-btn{
    padding: 0 30px;
    height: 100%;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: #182848;
    cursor: pointer;
    width: 20%;

}
.show-more-btn{
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 50px auto 100px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #182848;
    color: white;
    display: none;
}
.search-img{
    margin: 50px auto 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.search-img img{
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}


.search-img img:hover {
    transform: scale(1.05);
}

.search-img img:active {
    transform: scale(0.95);
}

@media (max-width: 768.98px) {
    h1{
        margin: 30px auto 50px;

    }
    .form{
        height: 65px;
    }
    .search-btn{
        padding: 0 10px;
    }
    .search-box{
       flex: auto;
    }
}
